
.BackGround{
  background-color: black;
  background: rgb(179,179,179);
background: -moz-linear-gradient(155deg, rgba(179,179,179,1) 0%, rgba(170,170,170,1) 100%);
background: -webkit-linear-gradient(155deg, rgba(179,179,179,1) 0%, rgba(170,170,170,1) 100%);
background: linear-gradient(155deg, rgba(179,179,179,1) 0%, rgba(170,170,170,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b3b3",endColorstr="#aaaaaa",GradientType=1);
}
body
{
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background: rgb(255, 255, 255);
  
}

.login-form{
  width: 50%;
  max-width: 330px;
  padding: 15;
  margin: auto;
  height: 100%;
  }